@import url(variaveis.css);

.bg-item {
    background-image: url(bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;      /* Faz a imagem ocupar todo o espaço */
    background-position: center; /* Centraliza a imagem */
    
    /* Caso precise de uma altura mínima para a imagem aparecer */
    min-height: 100vh;           
    width: 100%;
}